@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

body{
    
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: #7676ab;
  
}

main{
  background-color: rgb(249, 246, 204);
}

main h1{
  text-align: center;
  border: solid 3px;
}

.tab{
  display: grid;
  grid-template: repeat(20, 20px) / repeat(20, 20px);
  background-color: rgba(62, 4, 4, 0.4);
  border: solid 10px rgb(238, 232, 172, 0.4);
}

.tab .food{
  background: rgb(252, 50, 50);
  border-radius: 20px;
  width: 15px;
  height: 15px;
}
.tab .head{
  background: rgb(90, 252, 50);
  width: 15px;
  height: 15px;
}


.marcador{
  padding: 5px;
  border: solid 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.marcador h2{
  font-size: 16px;
}

.marcador button{
  width: 20px;
  height: 20px;
  background-color: rgb(254, 214, 161);
}
